secret-key: eyJhbGciOiJIUzUxMiJ9eyJzdWIiOiJ1c2VyIn0I2qOfhAZMGSH1pCecUH5sV2Lg2pSWNQMPzXsMcne6NJ1SlkBoirhGAmKfTYNcRyhu6nQtRzgAd6VXyttoX9A
server:
    port: 8080

spring:
    datasource:
        url: jdbc:mysql://54.180.123.253:3306/Beer
        username: beer
        password: my1234
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
        properties:
            hibernate:
                hibernate:
                "[format_sql]": true            #SQL 보기 좋게 출력
                "[user_sql_comments]": true     #SQL 생성시 주석 포함
                "[highlight_sql]": true         #SQL 색깔
                "[hbm2ddl.auto]": update
        open-in-view: true
        show-sql: true

    security:
        oauth2:
            client:
                registration:
                    naver:
                        client-name: naver
                        client-id: G9T5HJ5m7qmMrHWUI8uX
                        client-secret: WGCj5c7gv5
                        redirect-uri: https://js1.jsflux.co.kr/login/oauth2/code/naver
                        authorization-grant-type: authorization_code
                        scope:
                            - email
                            - nickname
                    kakao:
                        client-name: kakao
                        client-id: 6dd83ec1638f5cff30942f97a8b7610a
                        client-secret: K03c21Jeu2pctVBeKe8cQSVL24QXKr5O
                        redirect-uri: https://js1.jsflux.co.kr/login/oauth2/code/kakao
                        client-authentication-method: client_secret_post
                        authorization-grant-type: authorization_code
                        scope:
                            - account_email
                            - profile_nickname
                provider:
                    naver:
                        authorization-uri: https://nid.naver.com/oauth2.0/authorize
                        token-uri: https://nid.naver.com/oauth2.0/token
                        user-info-uri: https://openapi.naver.com/v1/nid/me
                        user-name-attribute: response
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        user-name-attribute: id
    mail:
        host: smtp.gmail.com
        port: 587
        username: MyHomesBeer@gmail.com
        password: ichyxgwlatuqfnbf
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                        connectiontimeout: 5000
                        timeout: 5000
                        writetimeout: 5000
                    auth-code-expiration-millis: 1800000 # 30 * 60 * 1000 == 30분
    servlet:
        multipart:
            enabled: true
            max-file-size: 10MB
            max-request-size: 10MB

uploadPath : upload
